.creation-profile-container3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.diet-select-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.diet-pref-select {

}

.diet-pref-select:after {
    position: absolute;
    content: "";
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}