.input-wrapper {
    background-color: white;
    width: 100%; 
    border-radius: 10px;
    height: 2.5rem;
    padding: 0px 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
}

.search-input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
    color: black;
}

input:focus {
    outline: none;
}

#search-icon {
    color: royalblue;
}

.search-result-body {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.search-result-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 250px;
}

.recipe-link {
    color: white;
}

.recipe-link:hover {
    color: white;
    
}