.main-mealplanner-header {
    text-align: center;
    width: 100vw;
    margin-top: 100px;
    margin-bottom: 75px;
    color: white;
}

.search-button-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.search-input-body {
    background-color: white;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    border-radius: 10px;
    margin-bottom: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}