#authentication-container {
    background-color: #254332;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 134px;
    height: 134px;
    margin: auto 0;
}

#logo-text {
    color: white;
}

#authentication-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.authentication-input {
    height: 42px;
    width: 360px;
    border-radius: 20px;
}

#authentication-sign-in {
    height: 42px;
    width: 210px;
}