.meal-list-container {
    margin-bottom: 150px;
}

.meal-plan-macros-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.meal-plan-macros {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.meal-plan-macros li {
    margin-right: 40px;
}

.meals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}